<page-title ng-if="layoutOptions.pageTitles" title="Reprint" description="" data-ng-init="System.load()"></page-title>

<div class="col-lg-12 col-md-12 hidden-print">
  <div class="panel panel-color panel-danger">
    <div class="panel-heading hidden-print">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <h2>Reprints</h2>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
          <label for="company_id" class="control-label">Company</label>
          <select name="company_id" id="role_id" ng-if="!System.User.company_id"
            ng-model="System.HeaderSingle.company_id" class="form-control" ng-change="System.SelectOnChange('company')"
            ng-options="option.value as option.name for option in System.Companies"></select>
          <label class="form-control" for="company_name" ng-if="System.User.company_id">{{
            System.Companies.registered_name}}</label>
        </div>
        <div>
          <div class="form-group" ng-if="System.HeaderSingle.company_id !== null">
            <label for="site_id" class="control-label">Site</label>
            <select name="site_id" id="site_id" ng-if="!System.User.site_id" ng-model="System.HeaderSingle.site_id"
              class="form-control" ng-change="System.SelectOnChange('site')"
              ng-options="option.value as option.name for option in System.Sites"></select>
            <label class="form-control" for="site_name" ng-if="System.User.site_id">{{ System.Sites[0].name}}</label>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div>
          <div class="form-group" ng-if="System.HeaderSingle.site_id !== null">
            <label for="workstation_id" class="control-label">Workstation</label>
            <select name="workstation_id" id="workstation_id" ng-if="!System.User.workstations_id"
              ng-model="System.HeaderSingle.workstation_id" class="form-control"
              ng-change="System.SelectOnChange('workstation')"
              ng-options="option.value as option.name for option in System.Workstations"></select>
            <label class="form-control" for="workstation_name" ng-if="System.User.workstations_id">{{
              System.Workstations[0].name}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row" ng-if="System.FormDisplay">
        <div class="col-md-4">
          <button class="btn btn-danger" ng-if="System.ScannedUser === null" ng-click="System.Fingerprint()">Scan
            Fingerprint</button>
          <button class="btn btn-danger" ng-if="System.ScannedUser === null && System.ScannedUser !== ''"
            ng-click="System.save()">Print</button>
          <!--<button class="btn btn-danger" ng-click="System.next()">Next</button>-->
        </div>
        <div class="col-md-4">
          <label for="printcamera" class="col-md-6 control-label">Display Cameras</label>
          <input id="printcamera" type="checkbox" class="iswitch-lg iswitch-danger" name="printcamera"
            ng-model="System.Single.printcamera" ng-true-value="'Yes'" ng-false-value="'No'" />
        </div>
        <div class="col-md-4">
          <button class="btn btn-black pull-right" ng-click="System.cancel()">Cancel</button>
        </div>
      </div>
      <div class="row" ng-hide="System.FormDisplay || System.deleteFormDisplay">
        <div class="col-sm-12 well">
          <div class="col-sm-2">
            <label for="inputPageSize" class="label label-danger">Page Size</label>
            <input required type="number" class="form-control" id="inputPageSize" placeholder="pageSize"
              ng-model="System.HeaderSingle.pageSize">
          </div>
          <div class="col-sm-2">
            <label for="inputPageStart" class="label label-danger">Page Start</label>
            <input required type="number" class="form-control" id="inputPageStart" placeholder="PageStart"
              ng-model="System.HeaderSingle.pageStart">
          </div>
          <div class="col-sm-2">
            <label for="inputSearchTerm" class="label label-danger">Search Term</label>
            <input required type="text" class="form-control" id="inputSearchTerm" placeholder="SearchTerm"
              ng-model="System.HeaderSingle.searchTerm">
          </div>
          <div class="col-sm-2">
            <label for="inputorderByCol" class="label label-danger">Order By Column</label>
            <select id="inputorderByCol" class="form-control" name="orderByCol"
              ng-model="System.HeaderSingle.orderByCol">
              <option value="transaction">Transaction</option>
              <option value="updated_at">Updated At</option>
              <option value="settings">Weighing Type</option>
              <option value="RegNumber">Reg Number</option>
              <option value="weighbridge">Weighbridge</option>
              <option value="product">Product</option>
              <option value="businesspartner">Business Partner</option>
            </select>
          </div>
          <div class="col-sm-2">
            <label for="inputorderByDir" class="label label-danger">Order by Direction</label>
            <select id="inputorderByDir" class="form-control" name="orderByDir"
              ng-model="System.HeaderSingle.orderByDir">
              <option value="desc">Descending</option>
              <option value="asc">Ascending</option>
            </select>
          </div>
          <div class="col-sm-2">
            <button type="button" data-ng-click="System.load()"
              class="btn btn-black btn-sm btn-icon icon-left">Reload</button>
          </div>
        </div>
        <div class="col-sm-12">
          <table datatable="ng" class="table table-striped table-bordered" dt-options="dtOptions">
            <thead>
              <tr>
                <th>Updated At</th>
                <th>Transaction</th>
                <th>Weighing Type</th>
                <th>Reg Number</th>
                <th>Weighbridge</th>
                <th>Product</th>
                <th>Business Partner</th>
                <th>Actions</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="data in System.formData| filter: {status:'CLOSED'}">
                <td data-ng-bind="data.updated_at"></td>
                <td data-ng-bind="data.transaction"></td>
                <td data-ng-bind="data.settings"></td>
                <td data-ng-bind="data.RegNumber"></td>
                <td data-ng-bind="data.weighbridge"></td>
                <td data-ng-bind="data.product"></td>
                <td data-ng-bind="data.businesspartner"></td>
                <td>
                  <button type="button" data-ng-click="System.editForm(data);" ng-if="data.status === 'CLOSED'"
                    class="btn btn-black btn-sm btn-icon icon-left">Reprint</button>

                  <a href="javascript:void(0)" data-ng-click="System.editForm(data);" ng-if="data.status === 'VERIFY'"
                    class="btn btn-black btn-sm btn-icon icon-left">Verify</a>
                  <a href="javascript:void(0)" data-ng-click="System.editForm(data);" ng-if="data.status === 'OPEN'"
                    class="btn btn-danger btn-sm btn-icon icon-left">2nd Weighing</a>
                  <a ng-hide="System.User.role.delete_transaction_flag === 'false'" href="javascript:void(0)" data-ng-click="System.deleteForm(data);" ng-if="data.status === 'OPEN'"
                    class="btn btn-black btn-sm btn-icon icon-left">Delete</a>
                </td>
                <td ng-if="data.status === 'CLOSED'">
                  <button type="button" ng-hide="System.User.role.delete_transaction_flag === 'false'" data-ng-click="System.deleteReprint(data);"
                    class="btn btn-danger btn-sm btn-icon icon-left">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row" ng-if="System.deleteFormDisplay && !System.FormDisplay">
        <div>
          <h2>Reason</h2>
        </div>
        <div class="form-group">
          <textarea id="reasonBox" rows="5" ng-model="System.deleteReason" class="form-control"
            placeholder="Please enter your reason..."> </textarea>
        </div>
        <div>
          <button class="btn btn-danger btn-sm btn-icon icon-left"
            ng-if="System.ScannedUser === null && System.FingerPrintVerify == 'Yes'"
            ng-click="System.Fingerprint()">Scan Fingerprint</button>
          <button class="btn btn-danger btn-sm btn-icon icon-left"
            ng-if="(System.ScannedUser !== null && System.ScannedUser !== '') || System.FingerPrintVerify != 'Yes'"
            ng-click="System.delete(data);">
            Delete
          </button>
          <!-- <button class="btn btn-danger btn-sm btn-icon icon-left" data-ng-click="System.delete(data);">Delete</button> -->
          <button class="btn btn-black btn-sm btn-icon icon-left ng-scope"
            data-ng-click="System.cancel();">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-12 col-md-12 hidden-screen">
  <ticket-print site="System.Site" setting="System.Setting" report-data="System.ReportData"
    weighing-header="System.Single" axel-setups="AxelSetups" cameras="System.cam"></ticket-print>
  <div class="col-sm-12 page-header" ng-if="System.Setting.invoice_enabled==='true'">
    <invoice-print single="System.Single" invoice="System.invoice" report-data="System.ReportData"
      setting="System.Setting"> </invoice-print>
  </div>
</div>

<div class="col-lg-12 col-md-12 hidden-print" ng-if="System.FormDisplay">
  <ticket-print site="System.Site" setting="System.Setting" report-data="System.ReportData"
    weighing-header="System.Single" axel-setups="AxelSetups" cameras="System.cam"></ticket-print>
  <div class="col-sm-12 page-header invoice" ng-if="System.Setting.invoice_enabled==='true'">
    <invoice-print single="System.Single" invoice="System.invoice" report-data="System.ReportData"
      setting="System.Setting"> </invoice-print>
  </div>
</div>