<li ui-sref-active="active" ng-repeat="item in menuItems" ng-class="{'opened': item.isOpen, 'active': item.isActive, 'has-sub': item.menuItems.length}">
    <a ng-if="item.state" ui-sref="{{item.state}}" ng-include="'app/tpls/layout/menu-item-link-tpl.html'"></a>
    <a ng-if="!item.state" href="#{{item.link}}" ng-include="'app/tpls/layout/menu-item-link-tpl.html'"></a>
    <ul ng-if="item.menuItems.length" ng-init="subItems = item.menuItems" ng-include="'app/tpls/layout/menu-items-recursive-tpl.html'"></ul>
</li>