<div class="page-title full-width">
  <div class="title-env">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <h1 class="title pull-left">{{title}} </h1>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
					<p class="description">Frontend Version: 0.10.48</br>Backend Version: 0.10.48</br>Connector Version: 0.10.25</p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="pull-right">
        <p>PC: {{ clock | date:'medium'}}</br>SERVER: {{phpClock}}</p>
      </div>
    </div>
  </div>
</div>
