<page-title ng-if="layoutOptions.pageTitles" title="Manage Company"></page-title>

<div class="row down-position">
	<div class="col-md-12">
		<div class="panel panel-color panel-danger">
			<div class="panel-heading">
				Site Edit
			</div>

			<br/>
			<div class="panel-body">
				<form role="form" class="row form-horizontal" role="form">
					<div class="col-md-2"></div>
					<div class="form-group col-md-8">
						<div class="form-group" ng-if="user_info.role=='Admin'">
							<label class="col-sm-2 control-label left-label" for="field-1">Company:</label>

							<div class="col-sm-6">
								<select class="form-control" ng-model="site_infos.company_type">
									<option>{{site_infos.company_type}}</option>
									<option ng-repeat="company_info in company_infos" value="{{company_info.registered_name}}">{{company_info.registered_name}}</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label left-label" for="field-1">Manage Site:</label>

							<div class="col-sm-6">
								<input type="text" class="form-control" id="field-1" ng-model="site_infos.site_type">
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label left-label" for="field-1">Name:</label>

							<div class="col-sm-6">
								<input type="text" class="form-control" id="field-1" ng-model="site_infos.site_name">
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label left-label" for="field-1">Active:</label>
							<div class="col-sm-6">
								<input type="checkbox" checked class="iswitch iswitch-secondary" ng-model="site_infos.site_active" ng-true-value="'true'" ng-false-value="'false'">
							</div>
						</div>	

						<div class="form-group">
							<label class="col-sm-12 control-label left-label" for="field-1">Work Stations</label>
							<button class="btn btn-primary left-btn" ng-click="PointCreate();">New Work Station</button>
                            <div class="col-sm-6">
								<table class="table table-bordered tb-ip" id="example-2">
									<thead>
										<tr>
											<th>Name</th>
											<th>Active</th>
											<th>Manage</th>
										</tr>
									</thead>
									
									<tbody class="middle-align">
										<tr ng-repeat="point_info in site_infos.workstation">
											<td>{{point_info.workstation_name}}</td>
											<td  ng-if="point_info.workstation_active == 'true'"><div class="label label-secondary">Active</div></td>
											<td  ng-if="point_info.workstation_active == 'false' || point_info.workstation_active == ''"><div class="label label-purple">InActive</div></td>
											<td>
												<button ng-click="PointUpdate(point_info.id);" class="btn btn-secondary btn-sm btn-icon icon-left">
													Manage
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="col-sm-6">
								<label class="col-sm-4 control-label left-label" for="field-1">Features</label>
								<br/>
								<div class="col-sm-10">
									<blockquote class="blockquote blockquote-success">
										<div class="form-group">
											<input type="checkbox" class="iswitch iswitch-secondary left-two" ng-model="site_infos.normal_weighing" ng-true-value="'true'" ng-false-value="'false'">
											<label class="iswitch iswitch-secondary lb-left-one" for="field-1">Normal Weighing</label>
										</div>

										<div class="form-group">
											<input type="checkbox" class="iswitch iswitch-secondary left-two" ng-model="site_infos.axle_weighing" ng-true-value="'true'" ng-false-value="'false'">
											<label class="iswitch iswitch-secondary lb-left-one" for="field-1">Axle Weighing</label>
										</div>

										<div class="form-group">
											<input type="checkbox" class="iswitch iswitch-secondary left-two" ng-model="site_infos.public_weighing" ng-true-value="'true'" ng-false-value="'false'">
											<label class="iswitch iswitch-secondary lb-left-one" for="field-1">Public Weighing</label>
										</div>
									</blockquote>
								</div>
							</div>
						</div>

						<div class="col-md-8 left-feature">
							
						</div>

						<div class="form-group col-md-12 left-btn">
							<button class="btn btn-blue" ng-click="SiteUpdate(site_infos.id);">Save</button>
							<button class="btn btn-blue cancel" ng-click="SiteUpdateCancel();">Cancel</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
